@import "../styles/color.module";

.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}



.body {
  display: flex;
  flex-grow: 1;
  max-height: calc(100% - 60px);
  position: relative;
}





